{% extends 'base_de.html' %}

{% block content %}
    <section class="info-title">
        <h1 class="cookie__title">Cookie-Richtlinie</h1>
    </section>

    <section class="info-section">
        <h2 class="cookie__subtitle">Was sind Cookies?</h2>
        <p class="cookie__desc">Ein „Cookie“ ist eine kleine Textdatei, die Websites/Anwendungen an Ihren Computer oder ein anderes Gerät senden
            mit dem Internet des Besuchers verbunden, um den Browser des Besuchers eindeutig zu identifizieren,
            um Informationen, Einstellungen und Anpassungen im Browser zu speichern</p>
    </section>

    <section class="info-section">
        <h2 class="cookie__subtitle">Cookies, für die eine Einwilligung erforderlich ist</h2>
        <p class="cookie__desc">Alle Cookies außer technischen werden erst nach dem installiert oder aktiviert
            <strong>Einwilligung</strong>, die der Benutzer beim ersten Besuch der Website ausdrückt. Die Einwilligung kann auf eine bestimmte Weise ausgedrückt werden
            Im Allgemeinen durch Interaktion mit dem Kurzinformationsbanner auf der Zielseite der Website
            darin angegebene Methoden (durch Klicken auf die Schaltfläche ZUSTIMMEN); oder es kann bereitgestellt werden
            selektiv nach den unten angegebenen Methoden. Diese Einwilligung wird gelegentlich nachverfolgt
            der nachfolgenden Besuche. <strong> <br>Der Nutzer hat jederzeit die Möglichkeit, seine bereits erteilte Einwilligung ganz oder teilweise zu widerrufen </strong>
            (durch Klicken auf die Schaltfläche ABLEHNUNG) und Sie müssen die Seite aktualisieren, damit die Änderungen wirksam werden.</p>
    </section>

    <section class="info-section">
        <h2 class="cookie__subtitle">Von dieser Website verwendete Cookies</h2>
        <p class="cookie__desc"><strong>Technische Cookies</strong> <br>
            Wir verwenden nur anonyme technische Cookies, die für das ordnungsgemäße Funktionieren der Website, für die Sitzungsverwaltung, für die internen Funktionen unseres Systems oder für die Personalisierung einiger Teile der Website unerlässlich sind.
            Für diese Art von Cookies ist keine Zustimmung des Benutzers erforderlich, da keine sensiblen Daten erfasst werden.</p>
        <p class="cookie__desc"><strong>Von der Website generierte Profiling-Cookies</strong> <br>
            Diese Website erstellt keine Profiling-Cookies.</p>
        <p class="cookie__desc"><strong>Cookies von Drittanbietern</strong> <br>
            Cookies von Drittanbietern werden von einer anderen Website als dieser Website gesetzt und befinden sich auf anderen Servern. Diese Cookies werden nicht direkt von dieser Website kontrolliert.
            Nachfolgend sind die Dienste (von Drittanbietern) aufgeführt, die Cookies generieren können:</p>
        <table class="cookie__table mt">
            <tbody>
                <tr>
                    <td>GOOGLE MAPS</td>
                    <td>Google Maps ist ein von Google Inc. verwalteter Kartenvisualisierungsdienst, der dies ermöglicht
                        Website, um den Ort anzugeben, an dem sich das Unternehmen befindet. <br>
                        <a href="https://policies.google.com/privacy?hl=de&gl=de">Privacy Policy - Cookie</a>
                    </td>
                </tr>
                <tr>
                    <td>GOOGLE FONTS</td>
                    <td>Google Fonts ist ein Dienst, der es Ihnen ermöglicht, Zeichen (Schriftarten) hochzuladen, um das Erscheinungsbild zu verbessern
                        Website durch den Einsatz von Stylesheets. Der Dienst wird von Google Inc. verwaltet. Die Verwendung von Google Fonts
                        erfordert keine Authentifizierung. <br>
                        <a href="https://policies.google.com/privacy?hl=de&gl=de">Privacy Policy - Cookie</a>
                    </td>
                </tr>
                <tr>
                    <td>FONT AWESOME</td>
                    <td>Font Awesome ist ein Dienst, der es Ihnen ermöglicht, Symbole hochzuladen, um das Aussehen Ihrer Website zu verbessern.
                        Der Dienst wird von Fonticons Inc. betrieben. Die Nutzung erfolgt über CDN (Content Delivery Network). <br>
                        <a href="https://fontawesome.com/privacy">Privacy Policy - Cookie</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </section>

    <section class="info-section">
        <h2 class="cookie__subtitle">Cookie-Verwaltung</h2>
        <p class="cookie__desc">Cookies können direkt über den Browser gelöscht, geändert und deaktiviert werden. <br>
            Der Besucher hat die volle Kontrolle über Cookies und deren Verwendung. <br>
            Durch die Deaktivierung von Cookies ist es möglich, dass einige Teile/Dienste dieser Website nicht korrekt angezeigt werden. <br>
        </p>
        <p class="cookie__desc">Nachfolgend finden Sie die Anleitungen der am häufigsten verwendeten Browser, um mehr über die verschiedenen Möglichkeiten zur Verwaltung von Cookies zu erfahren:</p>
        <ul class="cookie__list">
            <li><a href="https://support.google.com/chrome/answer/95647?hl=de">Chrome</a></li>
            <li><a href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen">Firefox</a></li>
            <li><a href="https://support.apple.com/de-de/HT201265">Safari</a></li>
            <li><a href="https://support.microsoft.com/de-de/topic/cookies-in-microsoft-edge-anzeigen-a7d95376-f2cd-8e4a-25dc-1de753474879#:~:text=%C3%96ffnen%20Sie%20Microsoft%20Edge%20und,bestimmte%20Kontrolloptionen%20f%C3%BCr%20Cookies%20festlegen.">Microsoft Edge</a></li>
        </ul>
        <p class="cookie__desc"><strong>Wir erinnern den Benutzer auch daran, dass viele Browser das Surfen im Inkognitomodus ermöglichen.</strong></p>
        <p class="cookie__desc">Weitere Informationen zu Cookies finden Sie auf folgenden Websites:</p>
        <ul class="cookie__list">
            <li><a href="https://de.wikipedia.org/wiki/HTTP-Cookie">Cookie (Wikipedia)</a></li>
            <li><a href="https://allaboutcookies.org/">All About Cookies</a></li>
            <li><a href="https://youronlinechoices.eu/">Your Online Choices</a></li>
        </ul>
    </section>

    <section class="info-section">
        <h2 class="cookie__subtitle">Informationsaktualisierung</h2>
        <p class="cookie__desc">Diese Cookie-Richtlinie kann sich im Laufe der Zeit ändern – auch im Zusammenhang mit jedem Eintrag
            in Kraft tretender neuer Branchenvorschriften, zur Aktualisierung oder Bereitstellung neuer Dienstleistungen oder zu Interventionen
            technologische Innovationen - für die der Benutzer/Besucher aufgefordert wird, diese Seite regelmäßig zu konsultieren.</p>
    </section>

    <section class="info-section">
        <h2 class="cookie__subtitle">Datencontroller</h2>
        <p class="cookie__desc">AL TEATRO SRL <br>
            Via Anelli, 40A - 25015 Desenzano del Garda (BS)</p>
        <p class="cookie__desc"><strong>E-Mail-Adresse des Eigentümers: </strong>alteatrodesenzano@gmail.com</p>
        <p class="cookie__desc">Da die Verwendung von Trackern Dritter auf dieser Website nicht möglich ist
            Alle spezifischen Verweise auf Tracker von Drittanbietern unterliegen der vollständigen Kontrolle des Eigentümers
            als indikativ angesehen werden. Um vollständige Informationen zu erhalten, sind Benutzer herzlich eingeladen
            Konsultieren Sie die Datenschutzbestimmungen der jeweiligen in diesem Dokument aufgeführten Drittanbieterdienste.</p>
    </section>

    <section class="info-section">
        <p class="cookie__desc"><strong>Ihr aktueller Status:</strong></p>
        <p id="state"></p>
    </section>

    <section class="contacts" id="contacts">
        <div class="row align-items-start">
            <div class="col-12 col-md-4">
                <img class="logo-contacts" style="margin: 0 auto;" src="/static/images/logo.png" alt="Logo">
            </div>
            <div class="col-12 col-md-4">
                <div class="centered-contact">
                    <div class="phone">
                        <p class="phone-title">Telefon:</p>
                        <a href="tel:030 4196425" class="phone-link">030 4196425</a>
                        <a href="tel:+39 351 9560584" class="phone-link">+39 351 9560584</a>
                    </div>
                    <div class="mail">
                        <p class="mail-title">Email:</p>
                        <a href="mailto:alteatrodesenzano@gmail.com" class="mail-link">alteatrodesenzano@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="centered-contact">
                    <Folgen class="social-title mb-2">Folgen Sie uns in den sozialen Medien</p>
                    <a href="https://www.instagram.com/ristorante_al_teatro/" aria-label="Profilo Instagram" target="_blank"><i class="fa-brands fa-instagram" style="color: #cd486b;"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100095323475530" aria-label="Profilo Facebook" target="_blank"><i class="fa-brands fa-facebook" style="color: #4267b2;"></i></a>
                </div>
            </div>
        </div>
    </section>

    <script src="/static/scripts/cookies.js"></script>
{% endblock %}