{% extends 'base.html' %}

{% block content %}

<section class="description">
    <div class="hero__image">
        <img src="/static/images/hero.png" alt="Hero">
    </div>
    <div class="desc__content">
        <div class="desc__image">
            <div class="slideshow">
                <div class="image__container">
                    <img src="/static/images/indoor2.jpg" alt="Indoor">        
                </div>
                <div class="image__container">
                    <img src="/static/images/indoor3.jpg" alt="Indoor">        
                </div>
                <div class="image__container">
                    <img src="/static/images/indoor4.jpg" alt="Indoor">        
                </div>
            </div>
        </div>
        <div class="desc__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique adipisci minima cum delectus 
                at? Commodi est, quis voluptates iste eveniet incidunt deserunt cumque nisi obcaecati maxime 
                esse soluta inventore, aut vitae nihil ad sunt impedit iusto quibusdam quisquam quia ipsum 
                ratione. Omnis atque illo provident. Non exercitationem quas voluptas pariatur impedit nemo 
                delectus beatae qui est id similique, ab, nam at tempora dolores ad facilis perspiciatis 
                eveniet harum illum fuga porro laudantium quis! Harum nemo odio culpa repudiandae, autem 
                reiciendis impedit, aut vel architecto quae tempore! Illum cupiditate nemo autem excepturi 
                sed suscipit. Quidem amet molestias earum nemo accusantium molestiae.</p>
        </div>
    </div>
</section>

<div class="split-up">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <rect x="1200" height="3.6"></rect>
        <rect height="3.6"></rect>
        <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
    </svg>
</div>

<section class="menu__section">
    <div class="menu__btn">
        <p class="menu__title animated-up">Dai un'occhiata al nostro menù:</p>
        <a class="menu__animate" href="/menu">Menu <i class="fa-solid fa-utensils" style="margin-left: .75em;"></i></a>
        <p class="menu__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint voluptate aperiam velit. Vero, iure temporibus deserunt, doloribus quos, dignissimos magni debitis eligendi molestiae error nulla reiciendis expedita omnis ex nobis.</p>
    </div>
    <div class="menu__images animated-right">
        <img src="/static/images/menu.jpg" alt="Menu">
    </div>
</section>

<div class="split-down">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <rect x="1200" height="3.6"></rect>
        <rect height="3.6"></rect>
        <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
    </svg>
</div>

<section class="restaurant">
    <p class="animated-up">Il ristorante:</p>
    <div class="hero-slideshow-manual">
        <div class="slideshow__manual animated-left">
            <img src="/static/images/indoor1.jpg" alt="Restaurant">
        </div>
        <div class="next">
            <button class="next__btn" onclick="next()"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    <div class="restaurant__photos animated-left">
        <img src="/static/images/indoor1.jpg" alt="Restaurant photo">
        <img src="/static/images/indoor2.jpg" alt="Restaurant photo">
        <img src="/static/images/indoor3.jpg" alt="Restaurant photo">
        <img src="/static/images/indoor4.jpg" alt="Restaurant photo">
        <img src="/static/images/outdoor2.jpg" alt="Restaurant photo">
        <img src="/static/images/bar2.jpg" alt="Restaurant photo">
    </div>
</section>

<div class="tilt-up">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
</div>

<section class="where-when">
    <div class="location animated-left">
        <iframe style="display: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.066447014368!2d10.540888176028188!3d45.46846537107414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4781945b6092db91%3A0x11159a6aae5fae7b!2sRistorante%20Bar%20Pizzeria%20Al%20Teatro!5e0!3m2!1sit!2sit!4v1689939009832!5m2!1sit!2sit" 
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="nocookie__text" style="margin-bottom: 4em;">
            <p style="color: #cd4848; font-weight: bold; font-size: inherit;">Errore nel caricamento del widget Google Maps</p>
        </div>
        <p><em>Via Anelli, 40A - Desenzano del Garda (BS)</em></p>
    </div>
    <div class="opening animated-fade">
        <p class="table__title">I nostri orari</p>
        <div class="timetables">
            <div class="lunch">
                <p class="service__title">Pranzo</p>
                <p>Aperti <strong>TUTTI I GIORNI</strong></p>
                <p><strong>11.30 - 15.30</strong></p>
            </div>
            <div class="dinner">
                <p class="service__title">Cena</p>
                <p>Aperti <strong>TUTTI I GIORNI</strong></p>
                <p><strong>18.00 - 23.30</strong></p>
            </div>
        </div>
    </div>
</section>

<div class="tilt-down">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
</div>

<section class="contacts animated-fade" id="contacts">
    <div class="logo">
        <img src="/static/images/logo.png" alt="Logo">
    </div>
    <div class="phone-mail">
        <div class="phone">
            <p class="phone__title">Telefono:</p>
            <a href="tel:030 4196425" class="phone">030 4196425</a>
            <a href="tel:+39 351 9560584" class="phone">+39 351 9560584</a>
        </div>
        <div class="mail">
            <p class="mail__title">Email:</p>
            <a href="mailto:alteatrodesenzano@gmail.com" class="mail__link">alteatrodesenzano@gmail.com</a>
        </div>
    </div>
    <div class="social">
        <p class="social__title">Seguici sui social</p>
        <a href="https://www.instagram.com/ristorante_al_teatro/" target="_blank"><i class="fa-brands fa-instagram" style="color: #cd486b;"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100095323475530" target="_blank"><i class="fa-brands fa-facebook" style="color: #4267b2;"></i></a>
    </div>
</section>

<section class="cookie-banner">
    <div class="cookie__text">
        <h3 style="text-transform: uppercase; margin-bottom: 1em;">Utilizzo dei cookies</h3>
        <p>Questo sito utilizza cookie tecnici e servizi di terze parti (per le sue funzionalità) che utilizzano cookies. Il rifiuto del consenso può rendere non disponibili le relative funzioni.

            Puoi liberamente prestare, rifiutare o revocare il tuo consenso, in qualsiasi momento.
            
            Usa il pulsante “Accetta” per acconsentire. Usa il pulsante “Rifiuta” per continuare senza accettare.</p>
    </div>
    <div class="cookie__links mt">
        <a href="/cookies" class="cookie__link">Informativa sui cookies</a>
    </div>
    <div class="cookie__button">
        <button class="cookie__btn" id="accept">Accetto</button>
        <button class="cookie__btn mt" id="refuse" style="background-color: rgba(86, 86, 86, 0.378); color:white; font-weight: 400;">Rifiuto</button>
    </div>
</section>

<section class="cookie-preferences" id="pref">
    <p>Preferenze Cookie</p>
</section>

<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>

{% endblock %}