{% extends 'base_en.html' %}

{% block content %}

<section class="description">
    <div class="hero__image">
        <img src="/static/images/logo.png" alt="Hero">
        <h1 class="hero-title">AL TEATRO</h1>
        <h2 class="hero-subtitle">Ristorante - Bar - Pizzeria Forno a Legna</h2>
    </div>
    <div class="desc__content">
        <div class="desc__image">
            <div class="slideshow">
                <div class="image__container">
                    <img src="/static/images/indoor2.jpg" alt="Indoor">        
                </div>
                <div class="image__container">
                    <img src="/static/images/indoor3.jpg" alt="Indoor">        
                </div>
                <div class="image__container">
                    <img src="/static/images/indoor4.jpg" alt="Indoor">        
                </div>
            </div>
        </div>
        <div class="desc__text">
            <p class="desc__title animated-up">Welcome</p>
            <p>The <strong>Restaurant Pizzeria Al Teatro</strong> welcomes you in its welcoming rooms, to let you taste the specialties
                of his kitchen! <br>
                Located a short walk from the town centre, it has internal rooms and a pleasant outdoor space. <br>
                The environment is well-kept and comfortable, ideal for organizing company gatherings and for celebrating, together with friends and relatives, important
                ceremonies and anniversaries.</p>
        </div>
    </div>
</section>

<div class="split-up">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <rect x="1200" height="3.6"></rect>
        <rect height="3.6"></rect>
        <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
    </svg>
</div>

<section class="menu__section">
    <div class="menu__btn">
        <p class="menu__title animated-up">Check out our menu:</p>
        <a class="menu__animate" href="/menu_en">Menu <i class="fa-solid fa-utensils" style="margin-left: .75em;"></i></a>
        <p class="menu__text">We offer you a wide choice of menus, each with its own precious particularity.<br>
            From <span>Italian</span> cuisine, to <span>Indian</span> cuisine, up to pizza, our dishes
            are prepared with love and passion. <br>
            The ingredients are always fresh and genuine. <br>
            We are convinced that we will be able to satisfy your expectations in the best possible way!</p>
    </div>
    <div class="menu__images animated-right">
        <img src="/static/images/menu.jpg" alt="Menu">
    </div>
</section>

<div class="split-down">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <rect x="1200" height="3.6"></rect>
        <rect height="3.6"></rect>
        <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
    </svg>
</div>

<section class="restaurant">
    <p class="animated-up">The restaurant:</p>
    <div class="hero-slideshow-manual">
        <div class="slideshow__manual animated-left">
            <img src="/static/images/indoor1.jpg" alt="Restaurant">
        </div>
        <div class="next">
            <button class="next__btn" onclick="next()"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    <div class="restaurant__photos animated-left">
        <img src="/static/images/indoor1.jpg" alt="Restaurant photo">
        <img src="/static/images/indoor2.jpg" alt="Restaurant photo">
        <img src="/static/images/indoor3.jpg" alt="Restaurant photo">
        <img src="/static/images/indoor4.jpg" alt="Restaurant photo">
        <img src="/static/images/outdoor2.jpg" alt="Restaurant photo">
        <img src="/static/images/bar2.jpg" alt="Restaurant photo">
    </div>
</section>

<div class="tilt-up">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
</div>

<section class="where-when">
    <div class="location animated-left">
        <iframe title="Google Maps" style="display: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.066447014368!2d10.540888176028188!3d45.46846537107414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4781945b6092db91%3A0x11159a6aae5fae7b!2sRistorante%20Bar%20Pizzeria%20Al%20Teatro!5e0!3m2!1sit!2sit!4v1689939009832!5m2!1sit!2sit" 
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="nocookie__text" style="margin-bottom: 4em;">
            <p style="color: #cd4848; font-weight: bold; font-size: inherit;">Error loading the Google Maps widget</p>
        </div>
        <p><em>Via Anelli, 40A - Desenzano del Garda (BS)</em></p>
    </div>
    <div class="opening animated-fade">
        <p class="table__title">Our timetables</p>
        <div class="timetables">
            <div class="lunch">
                <p>Open <strong>EVERY DAY</strong></p>
                <p class="service__title">Continued schedule</p>
                <p><strong>13.00 - 23.00</strong></p>
            </div>
        </div>
    </div>
</section>

<div class="tilt-down">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
</div>

<section class="contacts animated-fade" id="contacts">
    <div class="logo">
        <img src="/static/images/logo.png" alt="Logo">
    </div>
    <div class="phone-mail">
        <div class="phone">
            <p class="phone__title">Phone:</p>
            <a href="tel:030 4196425" class="phone">030 4196425</a>
            <a href="tel:+39 351 9560584" class="phone">+39 351 9560584</a>
        </div>
        <div class="mail">
            <p class="mail__title">Email:</p>
            <a href="mailto:alteatrodesenzano@gmail.com" class="mail__link">alteatrodesenzano@gmail.com</a>
        </div>
    </div>
    <div class="social">
        <p class="social__title">Follow us on social networks</p>
        <a href="https://www.instagram.com/ristorante_al_teatro/" target="_blank"><i class="fa-brands fa-instagram" style="color: #cd486b;"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100095323475530" target="_blank"><i class="fa-brands fa-facebook" style="color: #4267b2;"></i></a>
    </div>
</section>

<section class="cookie-banner">
    <div class="cookie__text">
        <h3 style="text-transform: uppercase; margin-bottom: 1em;">Use of Cookies</h3>
        <p>This site uses technical cookies and third-party services (for its functionality) that use cookies. Refusal of consent may make the relative functions unavailable.

            You can freely give, refuse or revoke your consent at any time.
            
            Use the "Accept" button to agree. Use the "Reject" button to continue without accepting.</p>
    </div>
    <div class="cookie__links mt">
        <a href="/cookies_en" class="cookie__link">Cookie policy</a>
    </div>
    <div class="cookie__button">
        <button class="cookie__btn" id="accept">Accept</button>
        <button class="cookie__btn mt" id="refuse">Reject</button>
    </div>
</section>

<section class="cookie-preferences" style="width: 135px;" id="pref">
    <p>Cookie Preferences</p>
</section>

<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>

{% endblock %}