{% extends 'base_de.html' %}

{% block content %}

<h1 class="hero__menu__title__desk">Speisekarte</h1>

<div class="cta-btn">
    <a href="#menu_ita" class="cta_menu">Italienisch</a>
    <a href="#menu_ind" class="cta_menu">Indisches</a>
    <a href="#pizzeria" class="cta_menu">Pizzeria</a>
</div>

<section class="menu-container animated-fade">
    <div class="menu__card">
        <div class="warning">
            <p><em>*Wir abend das Register von Allergenen für die Konsultation.</em></p>
        </div>
        <div class="card__title">
            <p id="menu_ita">Italienisch Speisekarte</p>
        </div>
        <div class="card__subtitle">
            <p><em>Fischvorspeisen</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Meeresfrüchtesalat</p>
            </div>
            <div class="price">
                <p>14.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Oktopussalat: Oktopus mit Kartoffeln, Kapern, schwarzen Oliven, Petersilie</p>
            </div>
            <div class="price">
                <p>15.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Gepfefferte Muscheln oder Gepfefferte Venusmuscheln</p>
            </div>
            <div class="price">
                <p>11.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Vorspeisen</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Mozzarella-Käse mit Tomaten und Basilikum</p>
            </div>
            <div class="price">
                <p>8.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Bruschetta mit apulischer Burrata, frischen Kirschtomaten und Basilikum</p>
            </div>
            <div class="price">
                <p>7.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Rohschinken und Mozzarella</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Roher Schinken und Melone</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Erste Gänge mit Fisch</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Spaghetti mit Meeresfrüchten</p>
            </div>
            <div class="price">
                <p>14.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Spaghetti mit Muscheln oder mit Venusmuscheln</p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Tagliatelle mit Garnelen und Oktopus</p>
            </div>
            <div class="price">
                <p>13.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Meeresfrüchterisotto</p>
            </div>
            <div class="price">
                <p>12.50€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Erste Gänge</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Pasta mit Tomaten und Basilikum oder mit Fleischsoße oder scharfer Soße</p>
            </div>
            <div class="price">
                <p>8.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Spaghetti mit Knoblauch, Öl und Chilischote</p>
            </div>
            <div class="price">
                <p>8.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Spaghetti-Carbonara-Art</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Penne mit vier Käsesorten</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Tagliatelle mit Steinpilzen</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Spaghetti mit Basilikumpesto</p>
            </div>
            <div class="price">
                <p>8.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Hausgemachte Kartoffelgnocchi mit Steinpilzen</p>
            </div>
            <div class="price">
                <p>8.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Hausgemachte Kartoffelgnocchi mit Steinpilzen</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Risotto mit Steinpilzen oder mit Safran</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Überbackene Lasagne</p>
            </div>
            <div class="price">
                <p>10.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Zweite Gänge Fisch</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Gemischter frittierter Fisch</p>
            </div>
            <div class="price">
                <p>16.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Fritierter Tintenfisch</p>
            </div>
            <div class="price">
                <p>14.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Gegrilltes Lachsforellenfilet</p>
            </div>
            <div class="price">
                <p>15.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Gegrillter Seebarsch oder Gegrillte Dorade</p>
            </div>
            <div class="price">
                <p>15.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Zweite Gänge</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Frankfurter und Pommes frites</p>
            </div>
            <div class="price">
                <p>8.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Wienerschnitzel</p>
            </div>
            <div class="price">
                <p>10.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Gegrillte Hühnerbrust</p>
            </div>
            <div class="price">
                <p>10.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Gegrilltes Rindersteak</p>
            </div>
            <div class="price">
                <p>13.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Geschnetzeltes Rindfleisch mit Rucola und Parmesanflocken</p>
            </div>
            <div class="price">
                <p>15.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Stück Huhn</p>
            </div>
            <div class="price">
                <p>11.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Burger und Pommes Frittes</p>
            </div>
            <div class="price">
                <p>14.00€</p>
            </div>
        </div>
        <div class="advice">
            <p>ALLE ZWEITEN gänge werden mit einer Beilage Ihrer Wahl serviert.</p>
        </div>
        <div class="card__subtitle">
            <p><em>Beilagen</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Pommes frittes</p>
            </div>
            <div class="price">
                <p>4.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Gekochtes Gemüse</p>
            </div>
            <div class="price">
                <p>4.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Gemischter Salat</p>
            </div>
            <div class="price">
                <p>4.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Rösti-Kartoffeln</p>
            </div>
            <div class="price">
                <p>4.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Gebackenen Kartoffeln</p>
            </div>
            <div class="price">
                <p>4.50€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Salate</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Gemischter Salat</p>
                <p class="item__ing"><em>Grüner Salat, Radicchio, Karotten, Mais, Tomaten</em></p>
            </div>
            <div class="price">
                <p>6.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Mare Monti-Salat</p>
                <p class="item__ing"><em>gemischter Salat, Thunfisch, Schinken,
                    hartgekochte Eier, schwarze Oliven</em></p>
            </div>
            <div class="price">
                <p>8.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Haussalat</p>
                <p class="item__ing"><em>Gemischter Salat, Büffelmozzarella, Schinken</em></p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Lachssalat</p>
                <p class="item__ing"><em>Gemischter Salat mit Lachs</em></p>
            </div>
            <div class="price">
                <p>10.50€</p>
            </div>
        </div>
        <div class="card__title mt">
            <p id="menu_ind">Indisches Speisekarte</p>
        </div>
        <div class="card__subtitle">
            <p><em>Vorspeisen</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Vegetable Pakora</p>
                <p class="item__ing"><em>Gemischtes frittiertes Gemüse im Teig aus Kichererbsenmehl</em></p>
            </div>
            <div class="price">
                <p>7.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Panir Pakora</p>
                <p class="item__ing"><em>In Kichererbsenmehlteig frittierte Frischkäsewürfel</em></p>
            </div>
            <div class="price">
                <p>7.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Onion rings</p>
                <p class="item__ing"><em>Frittierte Zwiebelringe im Teig aus Kichererbsenmehl</em></p>
            </div>
            <div class="price">
                <p>6.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Pakora</p>
                <p class="item__ing"><em>Gebratener Hühnereintopf in Kichererbsenmehlteig</em></p>
            </div>
            <div class="price">
                <p>7.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Jheenga Pakora</p>
                <p class="item__ing"><em>Garnelenschwänze in Kichererbsenmehlteig frittiert</em></p>
            </div>
            <div class="price">
                <p>9.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Misto Pakora</p>
                <p class="item__ing"><em>Gemischte Vorspeisen</em></p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Biryani</em></p>
        </div>
        <div class="advice">
            <p>Reis mit indischen Gewürzen, gemischtes Fleisch oder Gemüse</p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Vegetable Biryani (unsere Spezialität)</p>
                <p class="item__ing"><em>Gewürzter Basmatireis nach nordindischer Art mit Gemüse der Saison und Trockenfrüchten</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Biryani</p>
                <p class="item__ing"><em>Basmatireis mit Safran-Hühnchen, Rosinen und Mandeln</em></p>
            </div>
            <div class="price">
                <p>13.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Jheenga Biryani</p>
                <p class="item__ing"><em>Basmatireis mit Garnelenschwänzen, Knoblauch, Rosinen und Mandeln</em></p>
            </div>
            <div class="price">
                <p>14.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Taj Biryani</p>
                <p class="item__ing"><em>Basmatireis mit gewürztem Lammfleisch, Rosinen und Mandeln</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Lammspezialitäten</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Lamb Curry</p>
                <p class="item__ing"><em>Lammeintopf gekocht in würziger Currysauce</em></p>
            </div>
            <div class="price">
                <p>11.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Lamb Saag</p>
                <p class="item__ing"><em>Lammeintopf gekocht in gewürzter Spinatcreme</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Spezialitäten aus Rind und Kalbfleisch</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Beef curry</p>
                <p class="item__ing"><em>Kalbfleischeintopf gekocht in einer würzigen Currysauce</em></p>
            </div>
            <div class="price">
                <p>11.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Beef Vindaloo (unsere Spezialität)</p>
                <p class="item__ing"><em>Kalbfleisch in Vindaloo-Sauce (süß-sauer), Zwiebeln und Paprika</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Beef Saag</p>
                <p class="item__ing"><em>Gewürzter Kalbseintopf, gekocht in Spinatcreme</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="advice">
            <p>Alle in Soße zubereiteten Gerichte werden mit Basmatireis serviert.</p>
        </div>
        <div class="card__subtitle">
            <p><em>Hühnerspezialitäten</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Punjabi Chicken Curry</p>
                <p class="item__ing"><em>Hühnereintopf gekocht in scharfer Currysauce</em></p>
            </div>
            <div class="price">
                <p>10.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Tikka Masala</p>
                <p class="item__ing"><em>Hühnchen zubereitet mit Gewürzen und orientalischer „Methi“-Sauce
                    mit Bockshornkleeblättern</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Jalfreji</p>
                <p class="item__ing"><em>Hühnereintopf mit „Jalfrezi“-Gewürzen, Paprika, Zwiebeln und frischen Tomaten</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Tikka Sagwala</p>
                <p class="item__ing"><em>Würziger Hühnereintopf, gekocht in Spinatcreme</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Pudina</p>
                <p class="item__ing"><em>Hühnereintopf in Minz-Jogurt-Soße</em></p>
            </div>
            <div class="price">
                <p>11.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Mughlai Chicken (unsere Spezialität)</p>
                <p class="item__ing"><em>Hühnchen zubereitet nach dem alten Maraja-Rezept
                    in einer cremigen Mandel-Currysauce</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Chillies (unsere Spezialität)</p>
                <p class="item__ing"><em>Hähnchenstreifen in scharfer Chilisauce und Paprika, Zwiebeln</em></p>
            </div>
            <div class="price">
                <p>13.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Butter Chicken</p>
                <p class="item__ing"><em>Hähnchen in einer cremigen Sauce mit Butter, Tomaten und Sahne</em></p>
            </div>
            <div class="price">
                <p>12.50€</p>
            </div>
        </div>
        <div class="advice">
            <p>Alle in Soße zubereiteten Gerichte werden mit Basmatireis serviert.</p>
        </div>
        <div class="card__subtitle">
            <p><em>Vegetarische Spezialitäten</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Dal Makhni</p>
                <p class="item__ing"><em>Scharfe Linsen in Currysauce</em></p>
            </div>
            <div class="price">
                <p>10.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Mix Vegetable</p>
                <p class="item__ing"><em>Gemischtes Gemüse in Currysauce gekocht</em></p>
            </div>
            <div class="price">
                <p>11.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Vegetable Kofta Malai (unsere Spezialität)</p>
                <p class="item__ing"><em>Gemüsebällchen in cremiger Currysauce</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Palak Panir</p>
                <p class="item__ing"><em>Spinatcreme und hausgemachter Käse</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Panir Chillies</p>
                <p class="item__ing"><em>Gebratene Käsewürfel in scharfer Chilisauce, Paprika und Zwiebeln</em></p>
            </div>
            <div class="price">
                <p>14.00€</p>
            </div>
        </div>
        <div class="advice">
            <p>Alle in Soße zubereiteten Gerichte werden mit Basmatireis serviert.</p>
        </div>
        <div class="card__subtitle">
            <p><em>Fischspezialitäten</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Jheenga Curry</p>
                <p class="item__ing"><em>Garnelenschwänze gekocht in würziger Currysauce</em></p>
            </div>
            <div class="price">
                <p>13.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Jheenga Karahi (unsere Spezialität)</p>
                <p class="item__ing"><em>Garnelenschwänze mit Gemüse, gekocht in Currysauce</em></p>
            </div>
            <div class="price">
                <p>12.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Jheenga Chillies (unsere Spezialitätà)</p>
                <p class="item__ing"><em>Garnelenschwänze in scharfer Chilisauce, Paprika, Zwiebeln</em></p>
            </div>
            <div class="price">
                <p>15.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Indisches Brot</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Naan</p>
                <p class="item__ing"><em>Natur-/Knoblauch-/Butter-/Käse-Naan</em></p>
            </div>
            <div class="price">
                <p>3.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Einfacher Basmatireis</p>
            </div>
            <div class="price">
                <p>3.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Käse Naan</p>
                <p class="item__ing"><em>Käse Naan</em></p>
            </div>
            <div class="price">
                <p>4.00€</p>
            </div>
        </div>
        <div class="advice">
            <p>Alle in Soße zubereiteten Gerichte werden mit Basmatireis serviert.</p>
        </div>
        <div class="advice">
            <p>Jedes Gericht kann je nach Geschmack mehr oder weniger scharf zubereitet werden.</p>
        </div>
        <div class="card__title mt">
            <p id="pizzeria">Pizzeria</p>
        </div>
        <div class="card__subtitle">
            <p><em>Traditionelle Pizzen</em></p>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Calzone</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Schinken, Pilze</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Margherita</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella</em></p>
                </div>
                <div class="price">
                    <p>6.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Marinara</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella</em></p>
                </div>
                <div class="price">
                    <p>5.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Bimbo</p>
                    <p class="item__ing"><em>Tom., Mozz., Frankfurter, Pommes Frites</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Prosciutto</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Schinken</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Delicata</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Bresaola,
                        Rucola, Parmesanflocken</em></p>
                </div>
                <div class="price">
                    <p>10.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Prosciutto e funghi</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Schinken, Pilze</em></p>
                </div>
                <div class="price">
                    <p>9.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Salamino</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, scharfe Salami</em></p>
                </div>
                <div class="price">
                    <p>8.00€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Diavola</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, scharfe Salami,
                        Oliven, Paprika</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Tonno e cipolle</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Thunfisch, Zwiebeln</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Capricciosa</p>
                    <p class="item__ing">Tomaten, Mozzarella, Schinken,
                        Pilze, Artischocken</p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Napoli</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Sardellen, Oregano</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">4 Stagioni</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Schinken, Pilze,
                        Artischocken, schwarze Oliven</em></p>
                </div>
                <div class="price">
                    <p>10.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Ai 4 formaggi</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Gorgonzola,
                        Ricotta, Parmesan</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Buonissima</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Gorgonzola,
                        Walnüsse, Rucola</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Baby</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella</em></p>
                </div>
                <div class="price">
                    <p>4.50€</p>
                </div>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Spezielle Pizzen</em></p>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Millegusti</p>
                    <p class="item__ing"><em>Inspiriert vom Pizzabäcker</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Al teatro</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Steinpilze,
                        Brie, Bresaola, Rucola</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Tirolese</p>
                    <p class="item__ing"><em>Tom., Mozzarella, Pfifferlinge, Wurst, Speck</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Francese</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Brie, Speck</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Rustica</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Pfifferlinge,
                        Speck, Eier, Parmesan</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Contessa</p>
                    <p class="item__ing"><em>Tomaten, Büffelmozzarella, Rohschinken</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Gamberetti</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Garnelen,
                        Zucchini, Knoblauch</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Principessa</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Gorgonzola,
                        Rohschinken</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Pizzaiola</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella,
                        Thunfisch, Zwiebeln, Spargel, Eier</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Bomba</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Salami,
                        Zwiebeln, Chilischote, Oliven</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Bufala</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Büffelmozzarella,
                        Kirschtomaten, Rucola</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Mare e monti</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Garnelen,
                        Kochschinken, Rucola</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Ai 4 salumi</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Salami,
                        Würstchen, Speck, Wurst</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Italia</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Zucchini,
                        scharfe Salami</em></p>
                </div>
                <div class="price">
                    <p>9.00€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Bavarese</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Steinpilze,
                        Gorgonzola, Speck</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Frutti di mare</p>
                    <p class="item__ing"><em>Tom., Mozz., Knoblauch, Meeresfrüchte</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Saporita</p>
                    <p class="item__ing"><em>Tom., Mozz., Gorgonzola, Salami</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Quadrata</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Zucchini, Brie, Speck</em></p>
                </div>
                <div class="price">
                    <p>9.00€</p>
                </div>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Gemüsepizzen</em></p>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Vegetariana</p>
                    <p class="item__ing"><em>Tom., Mozzarella, Auberginen, Zucchini,
                        Paprika, Spinat, Radicchio, Parmesan</em></p>
                </div>
                <div class="price">
                    <p>10.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Bellissima</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Artischocken,
                        Paprika, Parmesanflocken</em></p>
                </div>
                <div class="price">
                    <p>9.00€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Spinaci e ricotta</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Spinat, Ricotta</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Americana</p>
                    <p class="item__ing"><em>Tomaten, Mozzarella, Pommes frittes</em></p>
                </div>
                <div class="price">
                    <p>8.00€</p>
                </div>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Weiße Pizza</em></p>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Blumoon</p>
                    <p class="item__ing"><em>Mozz., Auberginen, Salami, Parmesan,
                        Oregano</em></p>
                </div>
                <div class="price">
                    <p>9.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">VIP</p>
                    <p class="item__ing"><em>Mozzarella, Steinpilze, Asiago, Schinken</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Ortolana</p>
                    <p class="item__ing"><em>Mozzarella, Zwiebeln, Oliven, Pilze,
                        Zucchini, Spargel</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
        </div>
        <div class="advice">
            <p>Jeder Zuschlag - von 1.00€ bis 3.00€</p>
        </div>
        <div class="card__subtitle">
            <p><em>Hausgemachte Süßigkeiten</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Weiße / Kakao-Profiteroles</p>
            </div>
            <div class="price">
                <p>4.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Hausgemachtes Tiramisu</p>
            </div>
            <div class="price">
                <p>4.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Zitronensorbet</p>
            </div>
            <div class="price">
                <p>3.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Käsekuchen</p>
            </div>
            <div class="price">
                <p>5.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Schokoladen-Baiser-Kuchen</p>
            </div>
            <div class="price">
                <p>4.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Semifreddo mit Nougat</p>
            </div>
            <div class="price">
                <p>4.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Schwarzer/weißer Trüffel</p>
            </div>
            <div class="price">
                <p>5.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Ertrunkener Kaffeetrüffel</p>
            </div>
            <div class="price">
                <p>5.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Zitronen-Kokos-Eis</p>
            </div>
            <div class="price">
                <p>4.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Panna cotta</p>
            </div>
            <div class="price">
                <p>4.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Crème Brûlée</p>
            </div>
            <div class="price">
                <p>4.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Mango crema</p>
                <p class="item__ing"><em>Mangocreme mit Vanilleeis</em></p>
            </div>
            <div class="price">
                <p>5.00€</p>
            </div>
        </div>
        <div class="card__subtitle mt-xxl">
            <p><em>Stoffe oder Produkte, die Allergien oder Unverträglichkeiten hervorrufen</em></p>
        </div>
        <div class="advice">
            <p>Für mehrere Informationen sprechen Sie sich bitte an das Restaurantpersonal</p>
        </div>
        <div class="card__content__single">
            <div class="item__spec resized" style="margin: 0 auto;">
                <ol class="ord__list">
                    <li class="item__name mt">Glutenhaltiges Getreide
                        (Weizen, Roggen, Gerste,
                        Hafer, Dinkel, Kamut oder
                        Hybridstämme davon).
                    </li>
                    <li class="item__name mt">Krebstiere.</li>
                    <li class="item__name mt">Eier.</li>
                    <li class="item__name mt">Fisch.</li>
                    <li class="item__name mt">Erdnüsse.</li>
                    <li class="item__name mt">Soja.</li>
                    <li class="item__name mt">Milch und Milchprodukte
                        (einschließlich Laktose).</li>
                    <li class="item__name mt">Schalenfrüchte (Mandel,
                        Haselnuss, Walnuss, Cashew,
                        Pecannuss, Paranuss,
                        Pistazie, Macadamianuss und
                        Queenslandnuss).
                    </li>
                    <li class="item__name mt">Sellerie.</li>
                    <li class="item__name mt">Senf.</li>
                    <li class="item__name mt">Sesamsamen.</li>
                    <li class="item__name mt">Schwefeldioxid und Sulfite in
                        einer Konzentration von mehr
                        als 10 mg/kg oder 10mg/l.
                    </li>
                    <li class="item__name mt">Lupinen.</li>
                    <li class="item__name mt">Weichtiere.</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="contacts" id="contacts">
    <div class="row align-items-start">
        <div class="col-12 col-md-4">
            <img class="logo-contacts" style="margin: 0 auto;" src="/static/images/logo.png" alt="Logo">
        </div>
        <div class="col-12 col-md-4">
            <div class="centered-contact">
                <div class="phone">
                    <p class="phone-title">Telefon:</p>
                    <a href="tel:030 4196425" class="phone-link">030 4196425</a>
                    <a href="tel:+39 351 9560584" class="phone-link">+39 351 9560584</a>
                </div>
                <div class="mail">
                    <p class="mail-title">Email:</p>
                    <a href="mailto:alteatrodesenzano@gmail.com" class="mail-link">alteatrodesenzano@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="centered-contact">
                <Folgen class="social-title mb-2">Folgen Sie uns in den sozialen Medien</p>
                <a href="https://www.instagram.com/ristorante_al_teatro/" aria-label="Profilo Instagram" target="_blank"><i class="fa-brands fa-instagram" style="color: #cd486b;"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100095323475530" aria-label="Profilo Facebook" target="_blank"><i class="fa-brands fa-facebook" style="color: #4267b2;"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="cookie-banner">
    <div class="cookie__text">
        <h3 style="text-transform: uppercase; margin-bottom: 1em;">Verwendung von Cookies</h3>
        <p>Diese Website verwendet technische Cookies und Dienste Dritter (für ihre Funktionalität), die Cookies verwenden. Die Verweigerung der Einwilligung kann dazu führen, dass die entsprechenden Funktionen nicht verfügbar sind.

            Sie können Ihre Einwilligung jederzeit frei erteilen, verweigern oder widerrufen.
            
            Benutzen Sie die Schaltfläche „Zustimmen“, um zuzustimmen. Über die Schaltfläche „Ablehnung“ können Sie ohne Annahme fortfahren.</p>
    </div>
    <div class="cookie__links mt">
        <a href="/cookies_de" class="cookie__link">Cookie-Richtlinie</a>
    </div>
    <div class="cookie__button">
        <button class="cookie__btn" id="accept">Zustimmen</button>
        <button class="cookie__btn mt" id="refuse">Ablehnung</button>
    </div>
</section>

<section class="cookie-preferences" style="width: 145px;" id="pref">
    <p>Cookie-Einstellungen</p>
</section>

<script src="{{ url_for('static', filename='scripts/menu.js') }}"></script>

{% endblock %}