{% extends 'base_en.html' %}

{% block content %}

<h1 class="hero__menu__title__desk">Menu</h1>

<div class="cta-btn">
    <a href="#menu_ita" class="cta_menu">Italian Menu</a>
    <a href="#menu_ind" class="cta_menu">Indian Menu</a>
    <a href="#pizzeria" class="cta_menu">Pizzeria</a>
</div>

<section class="menu-container">
    <div class="menu__card">
        <div class="warning">
            <p><em>*the allergen register is available for consultation (at the bottom)</em></p>
        </div>
        <div class="card__title">
            <p id="menu_ita">Italian Menu</p>
        </div>
        <div class="card__subtitle">
            <p><em>Fish Appetizers</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Seafood Salad</p>
            </div>
            <div class="price">
                <p>€14.00</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Octopus Salad</p>
                <p class="item__ing"><em>Octopus with potatoes, capers, black olives and parsley</em></p>
            </div>
            <div class="price">
                <p>€15.00</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Peppered Mussels / Peppered Clams</p>
            </div>
            <div class="price">
                <p>€11.00</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Appetizers</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Mozzarella cheese with tomatoes and basil</p>
            </div>
            <div class="price">
                <p>8.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Bruschetta with Pugliese Burrata, fresh cherry tomatoes and basil</p>
            </div>
            <div class="price">
                <p>7.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Raw ham and mozzarella</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Raw ham and melon</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Fish First Courses</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Spaghetti with seafood</p>
            </div>
            <div class="price">
                <p>14.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Spaghetti with mussels or with clams</p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Tagliatelle with prawns and octopus</p>
            </div>
            <div class="price">
                <p>13.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Risotto with seafood</p>
            </div>
            <div class="price">
                <p>12.50€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>First Courses</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Pasta with tomato and basil or with meat sauce or spicy sauce</p>
            </div>
            <div class="price">
                <p>8.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Spaghetti with garlic, oil and hot peppers</p>
            </div>
            <div class="price">
                <p>8.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Spaghetti carbonara style</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Penne with four cheeses</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Tagliatelle with porcini mushrooms</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Tagliatelle with wild boar or venison ragù</p>
            </div>
            <div class="price">
                <p>10.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Spaghetti with basil pesto</p>
            </div>
            <div class="price">
                <p>8.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Homemade potato gnocchi with porcini mushrooms</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Risotto with porcini mushrooms or with saffron</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Baked Lasagna</p>
            </div>
            <div class="price">
                <p>10.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Second Fish Courses</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Mixed fried fish</p>
            </div>
            <div class="price">
                <p>16.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Fried squid</p>
            </div>
            <div class="price">
                <p>14.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Grilled salmon trout fillet</p>
            </div>
            <div class="price">
                <p>15.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Grilled sea bass / grilled sea bream</p>
            </div>
            <div class="price">
                <p>15.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Second Courses</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Frankfurters and French fries</p>
            </div>
            <div class="price">
                <p>8.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Milanese cutlet</p>
            </div>
            <div class="price">
                <p>10.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Grilled chicken breast</p>
            </div>
            <div class="price">
                <p>10.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Grilled beef steak</p>
            </div>
            <div class="price">
                <p>13.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Sliced beef with rocket and Parmesan flakes</p>
            </div>
            <div class="price">
                <p>15.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Cut of chicken</p>
            </div>
            <div class="price">
                <p>11.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Burger with french fries</p>
            </div>
            <div class="price">
                <p>14.00€</p>
            </div>
        </div>
        <div class="advice">
            <p>ALL SECOND COURSES ARE SERVED WITH A SIDE DISH OF YOUR CHOICE.</p>
        </div>
        <div class="card__subtitle">
            <p><em>Side Dishes</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">French fries</p>
            </div>
            <div class="price">
                <p>4.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Cooked vegetables</p>
            </div>
            <div class="price">
                <p>4.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Mixed salad</p>
            </div>
            <div class="price">
                <p>4.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Rosti potatoes</p>
            </div>
            <div class="price">
                <p>4.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Baked potatoes</p>
            </div>
            <div class="price">
                <p>4.50€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Salads</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Mixed Salad</p>
                <p class="item__ing">Green salad, radicchio, carrots, corn, tomatoes</p>
            </div>
            <div class="price">
                <p>6.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Mare monti salad</p>
                <p class="item__ing">Mixed salad, tuna, ham, hard-boiled eggs, black olives</p>
            </div>
            <div class="price">
                <p>8.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">House Salad</p>
                <p class="item__ing">Mixed salad, buffalo mozzarella, ham</p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Salmon Salad</p>
                <p class="item__ing">Mixed salad with salmon</p>
            </div>
            <div class="price">
                <p>10.50€</p>
            </div>
        </div>
        <div class="card__title mt">
            <p id="menu_ind">Indian Menu</p>
        </div>
        <div class="card__subtitle">
            <p><em>Appetizers</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Vegetable Pakora</p>
                <p class="item__ing"><em>Mixed fried vegetables in chickpea flour batter</em></p>
            </div>
            <div class="price">
                <p>7.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Panir Pakora</p>
                <p class="item__ing"><em>Cubes of fresh cheese fried in chickpea flour batter</em></p>
            </div>
            <div class="price">
                <p>7.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Onion rings</p>
                <p class="item__ing"><em>Fried onion rings in chickpea flour batter</em></p>
            </div>
            <div class="price">
                <p>6.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Pakora</p>
                <p class="item__ing"><em>Fried chicken stew in chickpea flour batter</em></p>
            </div>
            <div class="price">
                <p>7.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Jheenga Pakora</p>
                <p class="item__ing"><em>Shrimp tails fried in chickpea flour batter</em></p>
            </div>
            <div class="price">
                <p>9.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Misto Pakora</p>
                <p class="item__ing"><em>Mixed appetizers</em></p>
            </div>
            <div class="price">
                <p>9.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Biryani</em></p>
        </div>
        <div class="advice">
            <p>RICE WITH INDIAN SPICES, MIXED MEATS OR VEGETABLES</p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Vegetable Biryani (our speciality)</p>
                <p class="item__ing"><em>North Indian style spiced basmati rice with seasonal vegetables and dry fruits</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Biryani</p>
                <p class="item__ing"><em>Basmati rice with saffron spiced chicken, raisins and almonds</em></p>
            </div>
            <div class="price">
                <p>13.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Jheenga Biryani</p>
                <p class="item__ing"><em>Basmati rice with prawn tails, garlic, raisins and almonds</em></p>
            </div>
            <div class="price">
                <p>14.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Taj Biryani</p>
                <p class="item__ing"><em>Basmati rice with spiced lamb, raisins and almonds</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Lamb Specialities</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Lamb Curry</p>
                <p class="item__ing"><em>Lamb stew cooked in spicy curry sauce</em></p>
            </div>
            <div class="price">
                <p>11.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Lamb Curry</p>
                <p class="item__ing"><em>Lamb stew cooked in spicy curry sauce</em></p>
            </div>
            <div class="price">
                <p>11.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Lamb Saag</p>
                <p class="item__ing"><em>Lamb stew cooked in spiced spinach cream</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Beef and Veal Specialities</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Beef curry</p>
                <p class="item__ing"><em>Veal stew cooked in a spicy curry sauce</em></p>
            </div>
            <div class="price">
                <p>11.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Beef Vindaloo (nostra specialità)</p>
                <p class="item__ing"><em>Veal in vindaloo sauce (sweet and sour), onions and peppers</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Beef Saag</p>
                <p class="item__ing"><em>Spiced veal stew cooked in spinach cream</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="advice">
            <p>ALL DISHES COOKED IN SAUCE ARE SERVED WITH BASMATI RICE.</p>
        </div>
        <div class="card__subtitle">
            <p><em>Chicken Specialities</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Punjabi Chicken Curry</p>
                <p class="item__ing"><em>Chicken stew cooked in spicy curry sauce</em></p>
            </div>
            <div class="price">
                <p>10.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Tikka Masala</p>
                <p class="item__ing"><em>Chicken prepared with spices and “Methi” oriental sauce with fenugreek leaves</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Jalfreji</p>
                <p class="item__ing"><em>Chicken stew with “jalfrezi” spices, peppers, onions and fresh tomatoes</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Tikka Sagwala</p>
                <p class="item__ing"><em>Spicy chicken stew cooked in spinach cream</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Pudina</p>
                <p class="item__ing"><em>Chicken stew in mint and yogurt sauce</em></p>
            </div>
            <div class="price">
                <p>11.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Mughlai Chicken (our speciality)</p>
                <p class="item__ing"><em>Chicken prepared according to the ancient Maraja recipe
                    in a creamy almond curry sauce</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Chicken Chillies (our specialty)</p>
                <p class="item__ing"><em>Chicken strips in spicy chilli sauce and peppers, onions</em></p>
            </div>
            <div class="price">
                <p>13.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Butter Chicken</p>
                <p class="item__ing"><em>Chicken in a creamy sauce with butter, tomato and cream</em></p>
            </div>
            <div class="price">
                <p>12.50€</p>
            </div>
        </div>
        <div class="advice">
            <p>ALL DISHES COOKED IN SAUCE ARE SERVED WITH BASMATI RICE.</p>
        </div>
        <div class="card__subtitle">
            <p><em>Vegetarian Specialties</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Dal Makhni</p>
                <p class="item__ing"><em>Spicy lentils in curry sauce</em></p>
            </div>
            <div class="price">
                <p>10.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Mix Vegetable</p>
                <p class="item__ing"><em>Mixed vegetables cooked in curry sauce</em></p>
            </div>
            <div class="price">
                <p>11.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Vegetable Kofta Malai (nostra specialità)</p>
                <p class="item__ing"><em>Vegetable balls in a creamy curry sauce</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Palak Panir</p>
                <p class="item__ing"><em>Spinach Cream and homemade cheese</em></p>
            </div>
            <div class="price">
                <p>12.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Panir Chillies</p>
                <p class="item__ing"><em>Fried cheese cubes in spicy chilli sauce, peppers and onions</em></p>
            </div>
            <div class="price">
                <p>14.00€</p>
            </div>
        </div>
        <div class="advice">
            <p>ALL DISHES COOKED IN SAUCE ARE SERVED WITH BASMATI RICE.</p>
        </div>
        <div class="card__subtitle">
            <p><em>Fish Specialties</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Jheenga Curry</p>
                <p class="item__ing"><em>Shrimp tails cooked in spicy curry sauce</em></p>
            </div>
            <div class="price">
                <p>13.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Jheenga Karahi (nostra specialità)</p>
                <p class="item__ing"><em>Shrimp tails with vegetables cooked in curry sauce</em></p>
            </div>
            <div class="price">
                <p>12.50€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Jheenga Chillies (nostra specialità)</p>
                <p class="item__ing"><em>Shrimp tails in spicy chili sauce, peppers, onions</em></p>
            </div>
            <div class="price">
                <p>15.00€</p>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Indian Bread</em></p>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Naan</p>
                <p class="item__ing"><em>Plain / garlic / butter / cheese naan</em></p>
            </div>
            <div class="price">
                <p>3.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Plain basmati rice</p>
            </div>
            <div class="price">
                <p>3.00€</p>
            </div>
        </div>
        <div class="card__content__single">
            <div class="item__spec">
                <p class="item__name">Cheese Naan</p>
                <p class="item__ing"><em>Cheese naan</em></p>
            </div>
            <div class="price">
                <p>4.00€</p>
            </div>
        </div>
        <div class="advice">
            <p>ALL DISHES COOKED IN SAUCE ARE SERVED WITH BASMATI RICE.</p>
        </div>
        <div class="advice">
            <p>EACH DISH CAN BE PREPARED MORE OR LESS SPICY TO YOUR LIKING.</p>
        </div>
        <div class="card__title mt">
            <p id="pizzeria">Pizzeria</p>
        </div>
        <div class="card__subtitle">
            <p><em>Traditional Pizza</em></p>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Calzone</p>
                    <p class="item__ing"><em>Tomato, mozzarella, ham, mushrooms</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Margherita</p>
                    <p class="item__ing"><em>Tomato, mozzarella</em></p>
                </div>
                <div class="price">
                    <p>6.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Marinara</p>
                    <p class="item__ing"><em>Tomato, garlic e oregano</em></p>
                </div>
                <div class="price">
                    <p>5.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Bimbo</p>
                    <p class="item__ing"><em>Tomato, mozz., frankfurters, french fries</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Prosciutto</p>
                    <p class="item__ing"><em>Tomato, mozzarella, ham</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Delicata</p>
                    <p class="item__ing"><em>Tomato, mozzarella, bresaola,
                        rocket, Parmesan flakes</em></p>
                </div>
                <div class="price">
                    <p>10.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Prosciutto e funghi</p>
                    <p class="item__ing"><em>Tomato, mozzarella, ham, mushrooms</em></p>
                </div>
                <div class="price">
                    <p>9.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Salamino</p>
                    <p class="item__ing"><em>Tomato, mozzarella, spicy salami</em></p>
                </div>
                <div class="price">
                    <p>8.00€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Diavola</p>
                    <p class="item__ing"><em>Tomato, mozzarella, spicy salami,
                        olives, peppers</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Tonno e cipolle</p>
                    <p class="item__ing"><em>Tomato, mozzarella, tuna, onions</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Capricciosa</p>
                    <p class="item__ing">Tom., mozz., ham, mushrooms, artichokes</p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Napoli</p>
                    <p class="item__ing"><em>Tomato, mozzarella, anchovies, oregano</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">4 Stagioni</p>
                    <p class="item__ing"><em>Tomato, mozzarella, ham, mushrooms,
                        artichokes, black olives</em></p>
                </div>
                <div class="price">
                    <p>10.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Ai 4 formaggi</p>
                    <p class="item__ing"><em>Tomato, mozzarella, Gorgonzola,
                        ricotta, Parmesan</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Buonissima</p>
                    <p class="item__ing"><em>Tomato, mozzarella, Gorgonzola,
                        walnuts, rocket</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Baby</p>
                    <p class="item__ing"><em>Tomato, mozzarella</em></p>
                </div>
                <div class="price">
                    <p>4.50€</p>
                </div>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Special Pizza</em></p>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Millegusti</p>
                    <p class="item__ing"><em>Inspired by the pizza maker</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Al teatro</p>
                    <p class="item__ing"><em>Tomato, mozzarella, porcini,
                        brie, bresaola, rocket</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Tirolese</p>
                    <p class="item__ing"><em>Tomato, mozzarella, chanterelles,
                        sausage, speck</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Francese</p>
                    <p class="item__ing"><em>Tomato, mozzarella, brie, speck</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Rustica</p>
                    <p class="item__ing"><em>Tomato, mozzarella, chanterelles,
                        bacon, eggs, Parmesan</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Saporita</p>
                    <p class="item__ing"><em>Tom., mozz., Gorgonzola, salam</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Gamberetti</p>
                    <p class="item__ing"><em>Tomato, mozzarella, shrimp,
                        zucchini, garlic</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Principessa</p>
                    <p class="item__ing"><em>Tomato, mozzarella, Gorgonzola, raw ham</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Pizzaiola</p>
                    <p class="item__ing"><em>Tomato, mozzarella, tuna, onions,
                        asparagus, eggs</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Bomba</p>
                    <p class="item__ing"><em>Tomato, mozzarella, salami,
                        onion, chilli pepper, olives</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Bufala</p>
                    <p class="item__ing"><em>Tomato, mozzarella, buffalo mozzarella,
                        cherry tomatoes, rocket</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Mare e monti</p>
                    <p class="item__ing"><em>Tom., mozz., prawns, cooked ham, rocket</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Ai 4 salumi</p>
                    <p class="item__ing"><em>Tomato, mozzarella, salami,
                        frankfurters, bacon, sausage</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Italia</p>
                    <p class="item__ing"><em>Tomato, mozzarella, courgettes,
                        spicy salami</em></p>
                </div>
                <div class="price">
                    <p>9.00€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Bavarese</p>
                    <p class="item__ing"><em>Tomato, mozzarella, porcini mushrooms,
                        gorgonzola, speck</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Frutti di mare</p>
                    <p class="item__ing"><em>Tomato, mozzarella, garlic, seafood</em></p>
                </div>
                <div class="price">
                    <p>9.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Contessa</p>
                    <p class="item__ing"><em>Tomato, buffalo mozzarella, raw ham</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Quadrata</p>
                    <p class="item__ing"><em>Tomato, mozzarella, zucchini, Brie, speck</em></p>
                </div>
                <div class="price">
                    <p>9.00€</p>
                </div>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>Vegetables Pizza</em></p>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Vegetariana</p>
                    <p class="item__ing"><em>Tom., mozzarella, aubergines, courgettes,
                        peppers, spinach, radicchio, Parmesan</em></p>
                </div>
                <div class="price">
                    <p>10.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Bellissima</p>
                    <p class="item__ing"><em>Tomato, mozzarella, artichokes,
                        peppers, parmesan flakes</em></p>
                </div>
                <div class="price">
                    <p>9.00€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Spinaci e ricotta</p>
                    <p class="item__ing"><em>Tomato, mozzarella, spinach, ricotta</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Americana</p>
                    <p class="item__ing"><em>Tomato, mozzarella, french fries</em></p>
                </div>
                <div class="price">
                    <p>8.00€</p>
                </div>
            </div>
        </div>
        <div class="card__subtitle">
            <p><em>White Pizza</em></p>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Blumoon</p>
                    <p class="item__ing"><em>Mozz., eggplant, salami, parmesan, oregano</em></p>
                </div>
                <div class="price">
                    <p>9.00€</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">VIP</p>
                    <p class="item__ing"><em>Mozzarella, porcini, asiago, ham</em></p>
                </div>
                <div class="price">
                    <p>8.50€</p>
                </div>
            </div>
        </div>
        <div class="card__content__double">
            <div class="menu__item">
                <div class="item__spec">
                    <p class="item__name">Ortolana</p>
                    <p class="item__ing"><em>Mozzarella, onions, olives, mushrooms,
                        courgettes, asparagus</em></p>
                </div>
                <div class="price">
                    <p>10.00€</p>
                </div>
            </div>
        </div>
        <div class="advice">
            <p>EVERY ADDS - from 1.50€ to 3.00€</p>
        </div>  
        <div class="card__subtitle mt-xxl">
            <p><em>Substances or products causing allergies or intolerances</em></p>
        </div>
        <div class="advice">
            <p>FOR THE SPECIFICATION, PLEASE CONTACT THE RESTAURANT STAFF.</p>
        </div>
        <div class="card__content__single">
            <div class="item__spec resized" style="margin: 0 auto;">
                <ol class="ord__list">
                    <li class="item__name mt">Cereals containg gluten,
                        namely: wheat, rye, barley,
                        oats, spelt, kamut or their
                        hybridised strains, and
                        product thereof.
                    </li>
                    <li class="item__name mt">Crustaceans and products
                        thereof.</li>
                    <li class="item__name mt">Eggs and products thereof.</li>
                    <li class="item__name mt">Fish and products thereof.</li>
                    <li class="item__name mt">Peanuts and products thereof.</li>
                    <li class="item__name mt">Soybeans and products
                        thereof.</li>
                    <li class="item__name mt">Milk and products thereof.</li>
                    <li class="item__name mt">Nuts (almonds, hazelnuts,
                        walnuts, cashews, pecan nuts,
                        Brazil nuts, pistacio nuts,
                        macadamia or Queensland
                        nuts) and products thereof.
                    </li>
                    <li class="item__name mt">Celery and products thereof.</li>
                    <li class="item__name mt">Mustard and products thereof.</li>
                    <li class="item__name mt">Sesame seeds and products
                        thereof.</li>
                    <li class="item__name mt">Sulphur dioxide and sulphites
                        at concentration of more than
                        10 mg/kg or 10 mg/litre in
                        terms of the total SO2.
                    </li>
                    <li class="item__name mt">Lupin and products thereof.</li>
                    <li class="item__name mt">Molluscs and products thereof.</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="contacts" id="contacts">
    <div class="row align-items-start">
        <div class="col-12 col-md-4">
            <img class="logo-contacts" style="margin: 0 auto;" src="/static/images/logo.png" alt="Logo">
        </div>
        <div class="col-12 col-md-4">
            <div class="centered-contact">
                <div class="phone">
                    <p class="phone-title">Phone:</p>
                    <a href="tel:030 4196425" class="phone-link">030 4196425</a>
                    <a href="tel:+39 351 9560584" class="phone-link">+39 351 9560584</a>
                </div>
                <div class="mail">
                    <p class="mail-title">Email:</p>
                    <a href="mailto:alteatrodesenzano@gmail.com" class="mail-link">alteatrodesenzano@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="centered-contact">
                <p class="social-title mb-2">Follow us on social</p>
                <a href="https://www.instagram.com/ristorante_al_teatro/" aria-label="Profilo Instagram" target="_blank"><i class="fa-brands fa-instagram" style="color: #cd486b;"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100095323475530" aria-label="Profilo Facebook" target="_blank"><i class="fa-brands fa-facebook" style="color: #4267b2;"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="cookie-banner">
    <div class="cookie__text">
        <h3 style="text-transform: uppercase; margin-bottom: 1em;">Use of Cookies</h3>
        <p>This site uses technical cookies and third-party services (for its functionality) that use cookies. Refusal of consent may make the relative functions unavailable.

            You can freely give, refuse or revoke your consent at any time.
            
            Use the "Accept" button to agree. Use the "Reject" button to continue without accepting.</p>
    </div>
    <div class="cookie__links mt">
        <a href="/cookies_en" class="cookie__link">Cookie policy</a>
    </div>
    <div class="cookie__button">
        <button class="cookie__btn" id="accept">Accept</button>
        <button class="cookie__btn mt" id="refuse">Reject</button>
    </div>
</section>

<section class="cookie-preferences" style="width: 135px;" id="pref">
    <p>Cookie Preferences</p>
</section>

<script src="{{ url_for('static', filename='scripts/menu.js') }}"></script>

{% endblock %}