@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ff-heading: 'Della Respira', serif;
    --ff-body: 'Raleway', sans-serif;

    --primary-clr: hsl(0, 0%, 0%);
    --secondary-clr: hsla(0, 0%, 34%, 0.707);
    --footer: hsla(60, 1%, 34%, 0.152);
    --accent-clr: hsla(0, 0%, 34%, 0.144);
    --accent-clr-dark: hsla(0, 0%, 34%, 0.418);
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

/* Nav */
.nav {
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    padding: 1em 5em;
    height: 77.450px;
}

.logo-brand {
    width: 120px;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 5em;
    margin: 0;
}

.nav__link {
    text-decoration: none;
    color: var(--secondary-clr);
    font-family: var(--ff-heading);
    font-size: 1.5rem;
    padding: 0 .5em;
    border-radius: 10px;
    transition: all .3s;
}

.nav__link:hover {
    background-color: var(--accent-clr);
    color: var(--secondary-clr);
}

.languages {
    display: flex;
    gap: .25em;
}

.nav__language {
    text-decoration: none;
    color: var(--secondary-clr);
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    font-family: var(--ff-heading);
    padding: 0 .25em;
    border-radius: 10px;
    transition: all .3s;
}

.nav__language:hover {
    background-color: var(--accent-clr);
    color: var(--secondary-clr);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all .3s ease;
    background-color: black;
}

/* Description */
.description {
    background-color: white;
    padding: 8em 5em 5em 5em;
}

.hero-title {
    font-family: var(--ff-heading);
    font-size: clamp(3.5rem, 2.795rem + 2.893vw, 5.5rem);
}

.hero-subtitle {
    font-family: var(--ff-heading);
    font-size: clamp(1.5rem, 1.324rem + 0.723vw, 2rem);
}

.desc-text, .menu-text {
    font-family: var(--ff-body);
    font-size: 1rem;
    margin-top: 2em;
    letter-spacing: 2px;
}

.ig-embedded {
    padding: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

iframe {
    width: 100%;
    height: 700px;
}
.iframe .referral a {
    display: none !important;
}

/* Menu - Home */
.menu {
    display: flex;
    align-items: center;
    padding: 1.5em 5em 3em 5em;
    gap: 3em;
}

.menu-btn {
    text-decoration: none;
    display: block;
    font-family: var(--ff-body);
    padding: .75em 2em;
    margin: 0 auto;
    border-radius: 10px;
    color: black;
    width: fit-content;
    text-align: center;
    background-color: var(--accent-clr);
    transition: all .3s;
    cursor: pointer;
    border: none;
    font-size: 1.25rem;
}

.menu-btn:hover {
    background-color: var(--accent-clr-dark);
    color: white;
}

.sec-title {
    color: var(--secondary-clr);
    font-family: var(--ff-heading);
    letter-spacing: 2px;
    border-bottom: 2px solid var(--accent-clr);
    margin-bottom: 1.25em;
    font-size: clamp(1.875rem, 3vw, 2.25rem) !important;
    text-align: start;
}

/* Where and when */
.where-when {
    background-color: #000000;
    padding: 3em 5em;
    margin: 0;
}

.lunch, .dinner {
    margin-top: 3em;
    margin-inline: auto;
    padding: 1em;
    width: min(400px, 100%);
    border-radius: 10px;
    background-color: var(--accent-clr-dark);
}

.service-title {
    color: white;
    font-family: var(--ff-heading);
    letter-spacing: 2px;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    text-align: center;
    margin-bottom: 1.5em;
}

iframe {
    border: none;
    border-radius: 10px;
    width: 100%;
}

.lunch p, .dinner p {
    color: white;
    font-family: var(--ff-body);
    text-align: center;
    font-size: 1rem;
    margin: 0;
    letter-spacing: 2px;
}

/* Contacts */
.contacts {
    padding: 6em 5em;
}

.logo-contacts {
    width: 150px;
}

.phone-title, .mail-title, .social-title {
    color: black;
    font-family: var(--ff-heading);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.phone-link {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: var(--secondary-clr);
    font-family: var(--ff-body);
    font-size: 1.875rem;
}

.mail {
    margin-top: 3em;
}

.mail-link {
    color: var(--secondary-clr);
    text-decoration: none;
    width: fit-content;
    font-family: var(--ff-body);
    font-size: 1.25rem;
}

.contacts i {
    font-size: 2.5rem;
}

.fa-facebook {
    margin-left: 1em;
}

.centered-contact {
    width: fit-content; 
    margin: 0 auto;
}

/* Whatsapp */
.whatsapp-pill {
    background-color: #25d366;
    position: fixed;
    z-index: 998;
    bottom: 30px;
    left: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}
  
.whatsapp-link {
    text-decoration: none;
    color: white;
    font-size: 2.75rem;
}

/* Footer */
.footer {
    padding: 1.5em 5em;
    background-color: var(--footer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.legal {
    & .privacy {
        text-decoration: none !important;
        color: #000000 !important;
        font-family: var(--ff-body) !important;
        font-size: .875rem !important;
        margin: 0;
    }
}

.credits {
    color: #000000;
    font-family: var(--ff-body);
    font-size: .875rem;
    margin: 0;
}

.credits a {
    text-decoration: none;
    color: #000000;
    text-decoration: underline;
}

.owner p {
    color: #000000;
    font-size: .875rem;
    font-family: var(--ff-body);
    margin: 0;
}

/* Menu */
.cta-btn {
    width: min(1000px, 90%);
    margin: 5.5em auto 2em auto;
    display: flex;
    justify-content: space-between;
}

.cta_menu {
    text-decoration: none;
    font-family: var(--ff-body);
    padding: .75em 1em;
    border-radius: 10px;
    color: var(--secondary-clr);
    text-align: center;
    background-color: var(--accent-clr);
    width: 180px;
    transition: all .3s;
    font-size: clamp(1rem, 3vw, 1.25rem);
}

.hero__menu__title__desk {
    font-family: var(--ff-heading);
    color: var(--secondary-clr);
    background-color: var(--accent-clr);
    font-weight: 400;
    padding-top: 2em;
    font-size: clamp(3.5em, 5vw, 5em);
    text-align: center;
    width: 100%;
}

.menu-container {
    width: min(1000px, 90%);
    margin: 5em auto;
    border: 2px solid var(--secondary-clr);
}

.menu__card {
    padding: 1em 3em 3em 3em;
}

.warning p {
    font-family: var(--ff-body);
    text-align: end;
    margin: 0;
    font-size: clamp(.25rem, 2vw, .75rem);
}

.warning {
    margin-bottom: 2em;
}

.advice {
    margin-top: 1em;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--accent-clr);
}

.advice p {
    font-family: var(--ff-body);
    color: var(--secondary-clr);
    font-size: 1rem;
    text-transform: uppercase;
}

.card__title {
    font-family: var(--ff-heading);
    text-align: center;
    color: var(--secondary-clr);
    font-size: clamp(2.25rem, 3vw, 2.75rem);
}

.mt {
    margin-top: 1em;
}

.mt-xxl {
    margin-top: 7em !important;
}

.card__subtitle {
    font-family: var(--ff-heading);
    text-align: center;
    color: var(--secondary-clr);
    font-size: clamp(1.5rem, 3vw, 2rem);
    border-bottom: 2px solid var(--accent-clr);
    padding-top: .75em;
    margin: 0 auto;
}

.card__content__double {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.card__content__single {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1em;
}

.menu__item {
    display: flex;
    justify-content: space-between;
    width: 40%;
    gap: 2em;
}

.item__spec {
    width: 90%;
    padding: .5em 0;
}

.item__name, .price p {
    font-family: var(--ff-body);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

.item__ing {
    font-family: var(--ff-body);
    color: var(--secondary-clr);
    font-size: .875rem;
}

.price {
    padding: .5em 0;
}

/* Cookie banner */
.cookie-banner {
    background-color: #000000;
    padding: 2em 3em;
    align-items: center;
    position: fixed;
    width: 30%;
    bottom: 1em;
    right: 1em;
    border-radius: 10px;
    display: none;
    z-index: 999;
}

.cookie__text, .cookie__button {
    letter-spacing: 2px;
    font-family: var(--ff-body);
    font-size: .75rem;
    color: white;
}

.cookie__links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3em;
    margin: 2em 0;
}

.cookie__link {
    text-decoration: underline;
    color: white;
    font-family: var(--ff-body);
    font-size: .75rem;
}

.cookie__button {
    margin-top: 2em;
}

.cookie__btn {
    font-family: var(--ff-body);
    width: 100%;
    padding: .75em 0;
    font-size: .75rem;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    transition: all .3s;
    cursor: pointer;
    color: black;
}

.cookie__btn:hover {
    background-color: hsla(0, 0%, 100%, 0.648);
}

.cookie-preferences {
    padding: .5em 1em;
    font-family: var(--ff-body);
    background-color: black;
    color: white;
    width: 140px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 10px 0 0 0;
    cursor: pointer;
}

.cookie-preferences p {
    margin: 0 auto;
    font-size: .75rem;
}

/* Info cookies */
.info-title {
    padding-inline: 5em;
}

.cookie__title {
    padding: 5em 0 0 0;
    border-bottom: 2px solid var(--accent-clr);
    font-family: var(--ff-heading);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    color: var(--secondary-clr);
}

.info-section {
    margin-top: 2em;
    padding-inline: 5em;
}

.cookie__subtitle {
    font-family: var(--ff-heading);
    color: var(--secondary-clr);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.cookie__desc {
    font-family: var(--ff-body);
    margin-top: 1em;
    font-size: clamp(0.75rem, 3vw, 1rem);
}

.cookie__table td {
    padding: .5em .75em;
    border: 1px solid var(--secondary-clr);
    font-family: var(--ff-body);
    border-radius: 10px;
    font-size: clamp(0.75rem, 3vw, 1rem);
}

td a {
    text-decoration: none;
    color: var(--secondary-clr);
    font-size: clamp(0.75rem, 3vw, 1rem);
}

.cookie__list {
    margin-top: 1em;
    list-style-position: inside;
    font-family: var(--ff-body);
}

.cookie__list a {
    text-decoration: none;
    color: var(--secondary-clr);
    font-size: clamp(0.75rem, 3vw, 1rem);
}

/* Shapes */
.split-up {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.split-up svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.split-up .shape-fill {
    fill: #000000;
}

.split-down {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: 1.5em;
}

.split-down svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.split-down .shape-fill {
    fill: #000000;
}

.tilt-up {
    width: 100%;
    overflow: hidden;
    transform: rotate(180deg);
}

.tilt-up svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.tilt-up .shape-fill {
    fill: #000000;
}

.tilt-down {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.tilt-down svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.tilt-down .shape-fill {
    fill: #000000;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .nav {
        padding-inline: 2em;
    }

    .nav img {
        width: 100px;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav__list {
        position: fixed;
        left: -100%;
        top: 69.88px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: .3s;
        padding-bottom: 1.75em;
    }

    .list_item {
        margin: .5em 0;
    }

    .nav__list.active {
        left: 0;
    }

    .languages {
        position: fixed;
        left: -100%;
        top: 250px;
        gap: 2em;
        justify-content: flex-end;
        padding-inline: 2em;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: .3s;
        padding-bottom: .5em;
    }

    .languages.active {
        left: 0;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    }

    .description, .menu, .where-when, .contacts, .footer {
        padding-inline: 1em;
    }

    iframe {
        width: 100%;
    }

    .opening {
        width: 100%;
        order: 1;
    }

    .timetables {
        width: 100%;
    }

    .lunch, .dinner {
        width: min(350px, 100%);
    }

    .privacy {
        font-size: .75rem !important;
    }

    .menu__card {
        padding: 1em 2em 2em 2em;
    }

    .menu__item {
        width: 100%;
    }

    .resized {
        width: 85% !important;
    }

    .card__content__single {
        gap: 2em;
        justify-content: flex-start;
    }

    .advice p {
        font-size: .75rem;
    }

    .card__content__double {
        flex-direction: column;
    }

    .item__spec {
        width: 100%;
    }

    .item__name, .price p {
        font-size: .875rem;
    }

    .legal {
        margin-top: 2em;
    }

    .cookie-banner {
        width: 100%;
        padding: 1em 1em;
        bottom: 0;
        left: 0;
        border-radius: 10px 10px 0 0;
    }

    .cookie__text p {
        letter-spacing: normal;
    }

    .cookie__links {
        margin: 1em 0;
        justify-content: center;
    }

    .info-section, .info-title {
        padding-inline: 1em;
    }

    .tilt-down {
        display: none;
    }

    .ig-embedded {
        padding-inline: 1rem;
        justify-content: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .contacts > div {
        gap: 2em;
    }

    .centered-contact {
        margin: 0;
    }

    .cta-btn {
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }

    .cta_menu {
        width: 180px;
    }

    .whatsapp-pill {
        width: 65px;
        height: 65px;
        bottom: 25px;
        left: 25px;
    }
    
    .whatsapp-link {
        font-size: 2.25rem;
    }
}

@media (max-width: 992px) {
    .desc-content {
        gap: 2rem;
    }

    .menu {
        padding-inline: 1em;
        gap: 3em;
        margin: 0;
    }

    .where-when {
        flex-direction: column;
        padding-inline: 1em;
    }

    .contacts {
        flex-direction: column;
        align-items: flex-start;
        padding: 3em 1em 3em 1em;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding-inline: 1em;
    }
}